<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Live</title>
  {% include 'style.html' %}
  {% block style1 %}
  {% endblock %}
  <style>
    .btn.btn-icon-text {
    width: 16%;
    height: 28%;
    margin: 13% 4%;
    }
  </style>
  <!-- plugins:css -->

</head>
<body>
<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  {% include 'header.html' %}
  {% block header1 %}
  {% endblock %}
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="content-wrapper">



      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
     {%include 'footer.html'%}
      {% block footer1 %}
      {% endblock %}
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
{%include 'jsf.html'%}
{% block jsf1 %}
{% endblock %}
</body>
</html>

